body {
  @include inter-400;
  font-size: 1rem;
  line-height: 1.8;
  color: $color-default;
}

.big-container {
  @include container;
  max-width: 1500px;
}

.container {
  @include container;
  max-width: 1185px;
}

.book-btn {
  @include book-btn;
}

.menu-btn {
  @include menu-btn;
}

.box-buttons {
  display: flex;
  gap: 0 20px;
}
