body {
  @include inter-400;
  font-size: 1rem;
  line-height: 1.8;
  color: $color-default;
}

.header-title {
  @include davidLibre-700;
  font-style: normal;
  font-size: 3.75rem;
  line-height: 65px;
  color: $color-black;
}

.big-container {
  @include container;
  max-width: 1500px;
}

.container {
  @include container;
  max-width: 1185px;
}

.book-btn {
  @include book-btn;
}

.dishes-menu-btn,
.menu-btn {
  @include dishes-menu-btn;
}

.box-buttons {
  display: flex;
  gap: 0 20px;
}
